.c1 {
    color: black;
    font-family: 华文仿宋;
    text-indent: 2em;
    line-height: 150%;
    font-size: 150%;
}
.c2{
    color: black;
    width: 150px;
    height: 40px;
    background-color: red;
    font-family: 华文仿宋;
    font-size: 100%;
}